#user_group_label {
    cursor: 
    margin-bottom: 0px;
    padding: 12px;
    border: 2px solid #d3394c;
    color: #d3394c
    font-weight: bold;
}


input { 
    border: 1px solid transparent;
    background-color: whitesmoke;
    padding: 10px; 
    font-size: 16px;
}
