<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>CATCH LIGHT</title>

    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css" >
    <link href="/stylesheets/font-awesome.min.css" rel="stylesheet" type="text/css" >
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" link rel="stylesheet" type="text/css" >
    <link href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.css" link rel="stylesheet" type="text/css" >
    <link href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css" link rel="stylesheet" type="text/css" >
 
</head>

<body>
    
<nav class="navbar navbar-light navbar-expand-md" style="background-color: #000000;">
    <div class="container-fluid"><a class="navbar-brand" href="#" style="color: rgba(116,245,56,0.9);">CATCH LIGHT</a>
    <div class="collapse navbar-collapse" id="navcol-1">
    <ul class="nav navbar-nav">
                <li class="nav-item" role="presentation"><a class="nav-link active" href="/photos/recent" style="color: rgb(255,255,255);">Recent</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/upload" style="color: rgb(255,255,255);">Upload</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/logout" style="color: rgb(255,255,255);">Log Out</a></li>
            </ul>
        </div>
    </div>
</nav>

    <div class="container profile profile-view" id="profile">
        <div class="row">
            </div>
        </div>
        <form>
        </form>
    </div>
    <br>
    <div class="col-md-8">
        <h1>Account</h1>
        <hr>
        <h6> Your current email is <%= @current_user.email %>. </h6>
        <div class="form-group">
    
        <label>Email</label>
            <form method="POST" action="/users/<%=@current_user.id%>">
            <input id="hidden" type="hidden" name="_method" value="PATCH">
            <input type="text" name="email" value="<%= @current_user.email %>">
            <br>
        <label>Password</label>
            <br>
            <input type="password" name="password" value="<%= @current_user.password>">
            <br>
            <input type="submit" value="submit">
            </form>
        </div>
    </div>
    <footer class="page-footer">
    <p>2020 Catch Light ™</p>
    </footer>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    
</body>

</html>