<nav class="navbar navbar-light navbar-expand-md" style="background-color: #000000;">
<div class="container-fluid"><a class="navbar-brand" data-bs-hover-animate="pulse" href="#" style="color: rgba(116,245,56,0.9);">CATCH LIGHT</a>
    <div class="collapse navbar-collapse" id="navcol-1">
        <ul class="nav navbar-nav">
        <li class="nav-item" role="presentation"><a class="nav-link" data-bs-hover-animate="pulse" href="user/profile" style="color: rgb(255,255,255);">Profile</a></li>
            <li class="nav-item" role="presentation"><a class="nav-link active" href="/users/hello" style="color: rgb(255,255,255);">Home</a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" data-bs-hover-animate="pulse" href="/photos" style="color: rgb(255,255,255);">Photos</a></li>
            <li class="nav-item" role="presentation"><a class="nav-link active" data-bs-hover-animate="pulse" href="/upload" style="color: rgb(255,255,255);">Upload/Remove</a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" data-bs-hover-animate="pulse" href="/edit/profile" style="color: rgb(255,255,255);">Edit Profile</a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" data-bs-hover-animate="pulse" href="/logout" style="color: rgb(255,255,255);">Log Out</a></li>
        </ul>
</div>
</div>
</nav>

        <p> 
            <h1> Hello !</h1> 
            <h5>This is your personal home page.</h5> 
            <h6>The navigation bar will lead you to upload/remove your photos or edit your profile. </h6>
            <h6>Once you feel like leaving the site feel free to log-out. </h6> 
        <p>
                
