<!DOCTYPE html>
<html style="padding: 95px;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>CATCH LIGHT</title>
    
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css" >
    <link href="/stylesheets/Basic-fancyBox-Gallery-v2.css" rel="stylesheet" type="text/css" >
    <link href="/stylesheets/User-list.css" rel="stylesheet" type="text/css" >
    <link href="/stylesheets/font-awesome.min.css" rel="stylesheet" type="text/css" >
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" link rel="stylesheet" type="text/css" >
    <link href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.css" link rel="stylesheet" type="text/css" >
    <link href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css" link rel="stylesheet" type="text/css" >

</head>

    <body>
    <nav class="navbar navbar-light navbar-expand-md" style="background-color: #000000;">
    <div class="container-fluid"><a class="navbar-brand" data-bs-hover-animate="pulse" href="#" style="color: rgba(116,245,56,0.9);">CATCH LIGHT</a>
        <div
            class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav">
            <li class="nav-item" role="presentation"><a class="nav-link" data-bs-hover-animate="pulse" href="/upload" style="color: rgb(255,255,255);">Upload</a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" data-bs-hover-animate="pulse" href="/editprofile" style="color: rgb(255,255,255);">Edit Profile</a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" data-bs-hover-animate="pulse" href="/logout" style="color: rgb(255,255,255);">Log Out</a></li>
            </ul>
        </div>
    </div>
</nav>

                <p> <h1> Hey <%=current_user.name %>&nbsp!</h1> 
                    <h5>If you see this page then you logged in successfully. </h5> 
                    <h6> On the bar above is the navigation bar to upload photos and edit your profile. </h6>
                    <h6> Once you feel like leaving the site feel free to log-out. </h6> <p>
                
<footer class="page-footer">
<p>2020 Catch Light ™</p>
</footer>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
<script src="/js/theme.js"></script>
</body>

</html>