<body>
    <div class="unkw err pg" style="padding: 229px;">
        <div class="container">
            <div class="row">
                <div class="col-md-8" style="width: 257px;">
                    <div class="error msg">

                    <h2>Content you are attempting is from another user.</h2>
                    <a class="btn btn-primary" role="button" href="/users/hello">Please go back.</a>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>    
</body>                