    <nav class="navbar navbar-light navbar-expand-md" style="background-color: #000000;">
        <div class="container-fluid"><a class="navbar-brand" data-bs-hover-animate="pulse" href="#" style="color: rgba(116,245,56,0.9);">CATCH LIGHT</a>
            <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav">
                <li class="nav-item" role="presentation"><a class="nav-link active" href="/users/hello" style="color: rgb(255,255,255);">Home</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" data-bs-hover-animate="pulse" href="/recent" style="color: rgb(255,255,255);">Recent</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link active" data-bs-hover-animate="pulse" href="/upload" style="color: rgb(255,255,255);">Upload/Remove</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" data-bs-hover-animate="pulse" href="/edit/profile" style="color: rgb(255,255,255);">Edit Profile</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" data-bs-hover-animate="pulse" href="/logout" style="color: rgb(255,255,255);">Log Out</a></li>
            </ul>
            </div>
        </div>
    </nav>

<div class="container">
    <h5>Upload that shot!</h5>
    <form method='POST' action='/photos' enctype="multipart/form-data">
        <input type='file' name='file' accept="image/*">
        <br>
        <input type='submit' value='submit'></input>
    </form>

    <br> 
    
    <h5>Not happy with that photo?</h5>
        <form method='POST' action='/photos/delete'>
            <input id="hidden" type="hidden" value="PATCH">
            <input type='submit' value='delete'></input>  
        </form>
    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/theme.js"></script>
</body>

</html>